#new-tab{
    background-color:rgb(155, 168, 248);
}
#new-tab:hover{
 background-color: rgb(108, 127, 250);
}
/* body{
    background: #F4F7FF;
} */
#calander{
    border-radius: 12px;
background: linear-gradient(130.70deg, rgb(55, 82, 253) 0.419%,rgb(108, 127, 250) 52.66%,rgb(155, 168, 248) 99.733%);
}